<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/staff/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmitServlet</servlet-name>
        <url-pattern>/staff/AdmitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmissionServlet</servlet-name>
        <url-pattern>/staff/AdmissionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TriageServlet</servlet-name>
        <url-pattern>/staff/TriageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TriageGetServlet</servlet-name>
        <url-pattern>/staff/TriageGetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorServlet</servlet-name>
        <url-pattern>/staff/DoctorServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.servlets.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pharmacy</servlet-name>
        <servlet-class>com.servlets.Pharmacy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffServlet</servlet-name>
        <servlet-class>com.servlets.AddStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUsers</servlet-name>
        <servlet-class>com.servlets.ViewUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reception</servlet-name>
        <servlet-class>com.servlets.ReceptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmitServlet</servlet-name>
        <servlet-class>com.servlets.AdmitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmissionServlet</servlet-name>
        <servlet-class>com.servlets.AdmissionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TriageServlet</servlet-name>
        <servlet-class>com.servlets.TriageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TriageGetServlet</servlet-name>
        <servlet-class>com.servlets.TriageGetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorServlet</servlet-name>
        <servlet-class>com.servlets.DoctorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reception</servlet-name>
        <url-pattern>/staff/ReceptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUsers</servlet-name>
        <url-pattern>/admin/ViewUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffServlet</servlet-name>
        <url-pattern>/admin/AddStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/admin/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pharmacy</servlet-name>
        <url-pattern>/staff/Pharmacy</url-pattern>
    </servlet-mapping>
    <servlet-name>Reception</servlet-name>
    <url-pattern>/staff/Reception</url-pattern>
</web-app>
